*,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {    
    background: #0B2A3F;
}
img {
    max-width: 100%;
}

header {
    background: #0B2A3F;
    padding: 10px 20px;
    border-bottom: 1px solid #FFF
}

main {
    background: #0B2A3F;
}

h1 {
    color: #FFF;
    margin-top: 30px;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding: 20px;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.buttons-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    padding-bottom: 80px;
    align-items: center;
}

.buttons {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}

.buttons .box-sounds .circle-button {
    background: #0080A4;
    width: 188px;
    height: 174px;
    border-radius: 50%;
}

.button-background {
    cursor: pointer;
    width: 200px;
    height: 190px;
    background: url('../images/background-transparent.png') no-repeat;
    background-position: -5px -11px;
    position: absolute;
    top: 0;
    border: 0;
}

footer {
    margin: 0 auto;
    padding: 2px 20px;
}

footer p {
    color: #FFF;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.box-sounds {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFF;
    position: relative;
}


span {
    margin-top: 30px;
}

@media (max-width: 1010px) {
    .buttons {
        justify-content: center;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
    }
    
    .buttons-box > img {
        display: none;
    }
}

@media (max-width: 680px) {
    .buttons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 580px) {
    .buttons {
        grid-template-columns: repeat(1, 1fr);
    }
}